.panel.panel-default
  .panel-heading
    %h4 
      Users
  %table.table
    %thead
      %tr
        %th #
        %th Name
        %th.text-center Paid Amount
        %th.text-center Outstanding Amount
        %th Actions
    %tbody
      - @users.each_with_index do |user, i|
        %tr
          %td= i + 1 
          %td= user.name
          %td.text-center= user.paid_amount 
          %td.text-center= user.outstanding_amount 
          %td
            = link_to 'Games', games_user_path(user), class: 'btn btn-sm btn-default' 
            = link_to 'Pay', new_user_user_payment_path(user), class: 'btn btn-sm btn-default'
            = link_to 'Paid Amounts', user_user_payments_path(user), class: 'btn btn-sm btn-default'
