= simple_form_for(@game) do |f|
  .row
    .col-md-3
      %label Select Date
      #game_date_inline{data: { date: format_date(f.object.date) }}
      = f.input :date, as: :hidden, input_html: { value: format_date(f.object.date) }
    .col-md-2
      = f.input :amount
      %label 
        %h4
          Per Player :
          %span#amount_per_player 0
    .col-md-1
    .col-md-4.game_players
      %label Players
      - User.all.each do |u|
        .checkbox
          %label
            = check_box_tag "users[#{u.id}]", true, @game.new_record? ? true : @game.payments.where(user_id: u.id).exists?
            = u.name
      =# f.fields_for :payments do |payment_form|
      =# payment_form.input :user_id, as: :boolean, label: payment_form.object.user.name, input_html: { value: true }
  .row
    %hr
    .col-md-12
      = f.button :submit, class: 'btn-primary'
:javascript
  $('#game_date_inline').datepicker();
  $("#game_date_inline").on("changeDate", function(event) {
    $("#game_date").val(
      $("#game_date_inline").datepicker('getFormattedDate')
    ) 
  });
  calculatePerPlayer();
