%tr
  %td= game_counter + 1 
  %td= format_date(game.date)
  %td= players_count = game.payments.count
  %td= players_count > 0 ? (game.amount / players_count) : '-NA-'
  %td= game.goals
  %td
    - if game.editable
      = link_to 'Edit', edit_game_path(game), class: 'btn btn-sm btn-default'
    = link_to 'View', game_path(game), class: 'btn btn-sm btn-default'
